:root 
{
    --blue-color: #2a0adf;
    --dark-blue-color: #250dad;
    --red-color: #e42323;
    --dark-red-color: #a01818;
    --yellow-color: #dbe20d;
}

* {
    margin:0;
    padding:0;
    user-select: none;
}

.container  
{
    width:1024px;
    height:768px;
    margin:0 auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding:10px;
    margin-top:20px;
}
.top-row 
{
    display: flex;
    justify-content: space-between;
    height: 330px;
}
.map-box 
{
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    grid-gap:3px;
}
.map-box > .slot 
{
    border:1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map-box > .slot.now 
{
    background-color: var(--yellow-color);
}

.map-box > .slot.wall 
{
    background-color: #4b4b4b;
}

.info-box {
    background-color: #ddd;
    flex-basis: 400px;
    flex-grow: 1;
    margin-left:10px;
    padding:4px 8px;
    overflow-y: auto;
}

.info-box > .sub-title 
{
    margin-bottom: 10px;    
}
.info-box > .list 
{
    display: flex;
    flex-wrap: wrap;
}

.info-box > .list > .close-item 
{
    flex-basis: 100px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding:0.25rem 0.65rem;
    margin-right: 10px;
    margin-bottom: 10px;
}
.info-box > .list > .close-item > .label
{
    color:#fff;
    padding:0.25rem 0.75rem;
    border-radius: 0.25rem;
}
.info-box > .list > .close-item > .slot-name
{
    background-color: var(--blue-color);
}
.info-box > .list > .close-item > .parent-name 
{
    background-color: var(--red-color);
}

.mid-row 
{
    margin-top:20px;
}

.mid-row > .sub-title 
{
    margin-bottom: 10px;
}

.mid-row > .open-list 
{
    margin-left:20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:70px;
    border:1px solid #ddd;
    padding-left: 20px;
}

.mid-row > .open-list > .open-slot 
{
    width:30px;
    height: 30px;
    border:1px solid var(--dark-blue-color);
    color:#fff;
    background-color: var(--blue-color);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    position: relative;
}
.mid-row > .open-list > .open-slot.parent 
{
    border:1px solid var(--dark-red-color);
    background-color: var(--red-color);
}

.mid-row > .open-list > .open-slot > .tool-tip 
{
    position: absolute;
    background-color: var(--red-color);
    color:#fff;
    left:50%;
    top:0;
    transform:translate(-50%, -50%);
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-size:0.8rem;
    width:110px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.mid-row > .open-list > .open-slot:hover > .tool-tip 
{
    visibility: visible;
    opacity: 1;
    transform:translate(-50%, -120%);
}

.mid-row > .open-list > .open-slot > .tool-tip::after 
{
    content:'';
    width:10px;
    height:10px;
    background-color: var(--red-color);
    transform: rotate(45deg) translateY(50%);
    
    position: absolute;
    bottom:0;
    left:50%;
}

.bottom-row 
{
    margin-top: 10px;
}

.bottom-row > .sub-title
{
    margin-bottom: 10px;
}

.bottom-row > .tag-info-box 
{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tag-set 
{
    display: flex;
    margin-right: 10px;
}

.tag-set > .lbl 
{
    margin-right: 4px;
}

.tag-set > input 
{
    padding:0.25rem 0.75rem;
    border:1px solid #ddd;
    border-radius: 0.25rem;
    cursor: pointer;
}

.msg-box 
{
    border:1px solid #ddd;
    border-radius: 10px;
    width: 100%;;
    margin-bottom: 20px;
    font-size:19px;
    font-weight: 800;
    padding:8px 12px;
}

.btn 
{
    padding:0.25rem 0.75rem;
    border:1px solid transparent;
    border-radius: 0.25rem;
    transition: background-color 0.5s;
    cursor: pointer;
}

.btn-blue 
{
    background-color: var(--blue-color);
    color:#fff;
}
.btn-blue:hover 
{
    background-color: var(--dark-blue-color);
}

.btn-red 
{
    background-color: var(--red-color);
    color:#fff;
}
.btn-red:hover 
{
    background-color: var(--dark-red-color);
}